/*
# 
# All the styling for the footer
#
*/
footer {
    padding:2rem 10vw;
    display:flex;
    gap:3rem;
    flex-direction: column;
    align-items: center;
    background:var(--very-dark-blue);
}

.footer-left {
    display:flex;
    flex-direction: column;
    gap:3rem;
}

#footer-logo {
    width:10rem;
}

#footer-logo .text {
    fill: var(--white);
}

.footer-nav {
    display:flex;
    flex-direction: column;
    align-items: center;
    color:white;
    gap:2rem;
}

.footer-nav a {
    font-size: 0.80rem;
    letter-spacing: 0.15rem;
    transition: 0.3s;
}

.footer-nav a:hover {
    color:var(--soft-red);
    transition: 0.3s;
}

/*
#
# Social container
#
*/
.footer-social-container {
    display:flex;
    gap:3rem;
}

.icon-btn {
    color: var(--white);
    transition: 0.3s;
    font-size:1.75rem;
}

.icon-btn:hover {
    cursor:pointer;
    color:var(--soft-red);
    transition:0.3s;
}

/*
#
# Media queries
#
*/
@media (min-width: 1024px) {
    footer {
        flex-direction: row;
        justify-content: space-between;
    }

    .footer-left {
        flex-direction: row;
        gap:5rem;
    }

    .footer-nav {
        flex-direction: row;
        gap:3rem;
    }

}