@import url("fonts.css");
@import url("reset.css");

@import url("header.css");
@import url("footer.css");


:root {
    /* 
    #
    # Colors
    #
    */
    /* Primary */
    --soft-blue: hsl(231, 69%, 60%);
    --soft-red: hsl(0, 94%, 66%);

    /* Neutral */
    --grayish-blue: hsl(229, 8%, 60%);
    --very-dark-blue: hsl(229, 31%, 21%);
    --white: hsl(0, 0%, 100%);
}

/*
# Font setup
*/

body {
    font-size:18px;
    
}


* {
    font-family: "Rubik";
    font-weight: 400; 
    color:var(--dark-blue);
}

p {
    color:var(--grayish-blue);
    text-align: center;
    max-width:30rem;
    font-size: 0.9rem;
}

h1, h2, h3 {
    color:var(--very-dark-blue);
    line-height: 1.25;
    text-align: center;
    font-weight: 500;
}

h1 {
    font-size: clamp(1.8rem, 3vw, 2.5rem);
}

h2 {
    font-size: clamp(1.5rem, 2vw, 2rem);
}

h3 {
    font-size: clamp(1.3rem, 1.5vw, 1.4rem);
}
h4 {
    font-size: 1rem;
}


section {
    padding:5rem 2rem;
}



.btn {
    padding:0.75rem 2.5rem;

    border:none;
    border-radius:5px;
    border:2px solid transparent;

    font-weight: 500;
    font-size: 0.9rem;

    box-shadow: 0px 10px 10px -5px rgba(0,0,0,0.1);

    transition: 0.3s;
}


.btn:hover {
    cursor: pointer;
    transition: 0.3s;
}

.full-blue-btn {
    background: var(--soft-blue);
    color: var(--white);
}

.full-blue-btn:hover {
    background: var(--white);
    color: var(--soft-blue);
    border:2px solid var(--soft-blue);
}

.full-red-btn {
    background: var(--soft-red);
    color: var(--white);
}

.full-red-btn:hover {
    background: var(--white);
    color: var(--soft-red);
    border:2px solid var(--soft-red);
}

.full-gray-btn {
    background: rgb(245, 244, 244);
    color:var(--very-dark-blue);
}

.full-gray-btn:hover {
    background: var(--white);
    color: var(--very-dark-blue);
    border:2px solid var(--very-dark-blue);
}


/*
#
# Intro section
#
*/
.intro-section {

    display: grid;
    grid-template-columns: 1fr;
    padding:1rem 0rem;
    gap:3rem;
}

.intro-content-text {
    display: flex;
    max-width:30rem;
    flex-direction: column;
    padding:0 0.5rem;
    gap:1.5rem;
}



.intro-image {
    display: flex;
    justify-content: center;

    position: relative;
    padding:0rem 1rem;
}






.intro-content {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:0 2rem;
    gap:2rem;
}

.intro-btn-container {
    display:flex;
    justify-content: center;
    gap:1rem;
}

.intro-btn {
    padding:0.75rem;
}

.intro-image .background-pill {
    position:absolute;
    border-radius: 500px 0px 0px 500px;
    right:0;
    bottom:0;
    background:var(--soft-blue);
    width:80%;
    z-index:-1;
    height:70%;
}

/*
#
# Features section
#
*/
.features-section {
    padding:5rem 0rem;
    display: flex;
    flex-direction: column;
}

.features-intro {
    display: flex;
    padding:0rem 2rem;
    flex-direction: column;
    align-items: center;
}

.features-navigation {
    width:100%;
    max-width:60rem;
    padding:2rem 2rem;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.feature-nav-link {
    width:100%;
    text-align: center;
    color:hsl(229, 31%, 31%);
    border-bottom:1px solid hsl(229, 8%, 80%);
    padding:1.5rem;
    position: relative;
}

.feature-nav-link.active {
    font-weight: 500;
}

.feature-nav-link.active::after {
    content: "";
    
    width:50%;
    height:3px;
    margin:0 auto;
    position: absolute;
    bottom:0;
    left:0;
    right:0;
    background: var(--soft-red);
    
}

.feature-nav-link:hover {
    cursor: pointer;
    color:var(--soft-red);
}

.features-container {
    display:flex;
    width:100%;
    overflow:hidden;
}

.feature-tab {
    display:grid;
    grid-template-columns: 1fr;
    width:100%;
    flex-direction: column;

    flex: 0 0 100%;
    transition: transform 0.3s ease-in-out;
}

.features-content {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.feature-tab-images .background-pill {
    position:absolute;

    background:var(--soft-blue);

    border-radius: 0px 500px 500px 0px;
    left:0;
    bottom:0;
    height:70%;
    width:80%;
    position: absolute;
    z-index:-1;
}

.more-info-button {
    display:none;
}

/* .feature-tab-images img {
    width: 80vw;
    height:calc(80vw/1.55);
} */

.feature-tab-images {
    position:relative;
    /* height:30vw; */
    padding:2.5rem 2rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.feature-tab-content {
    padding:0rem 2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}



/*
#
# Download section 
#
*/
.download-section {
    display: flex;
    flex-direction: column;
    gap:1rem;
}

.download-intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:0rem 1rem;
}

.browser-container {
    padding:2rem 0rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:2rem;
}

.browser-card {
    width:clamp(10rem, 100%, 17rem);

    display: flex;
    flex-direction: column;
    border-radius:20px;

    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
}

.browser-card-top {
    padding:2.5rem 2rem;

    display:flex;
    flex-direction: column;
    align-items: center;
    gap:0.5rem;
}

.browser-card-top img {
    width:6rem;
    margin-bottom:2rem;
}

.card-divider {
    width:100%;
}

.browser-card-bottom {
    padding:1.5rem;
}
.browser-card-bottom .btn {
    padding:0.75rem 1.5rem;
    width:100%;
}

/*
#
# FAQ section
#
*/
.faq-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:3rem;
}

.faq-intro {
    display:flex;
    flex-direction: column;
}

.faq-container {
    width:clamp(10rem, 100%, 35rem);
}

.faq-question {
    border-bottom:1px solid hsl(229, 8%, 80%);
    padding:0.5rem 0rem;
    
    
    display:flex;
    flex-direction: column;
   
}



.faq-question-header {
    width:100%;
    padding:0.75rem 0;
    gap:1rem;

    display: flex;
    justify-content: space-between;
}

.faq-question-header:hover {
    cursor: pointer;
}

.faq-question-header h4 {
    text-align: left;
}

.faq-question-header:hover h4 {
    color:var(--soft-red);
}

.faq-question-header .faq-question-arrow {
    line-height:1.5; /* overriding font awesome css */
    color: var(--soft-blue);
    font-size:1.25rem;
    transition: 0.3s;
}

.faq-question-header.open .faq-question-arrow {
    transform: rotate(180deg);
    color: var(--soft-red);
    transition: 0.3s;
}

.faq-question-content {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.2s ease-out;
  }

.faq-question-content p {
    text-align:left;
    max-width:90%;
    line-height:2;
    padding:1rem 0rem;
}

#faq-button {
    margin:1rem 0rem 3rem 0rem;
    padding:0.75rem 1.5rem;
}


/*
#
# Contact us section
#
*/
.contact-section {
    padding:4rem 2rem;
    display:flex;
    flex-direction: column;
    align-items: center;

    background: var(--soft-blue);
}

.contact-intro {
    display:flex;
    align-items: center;
    flex-direction: column;
    max-width:30rem;
    
}
.contact-intro p {
    font-size:0.8rem;
    letter-spacing: 0.25rem;
}
.contact-intro * {
    color: var(--white);
}

.email-input-container {
    display: flex;
    flex-direction: column;
}

#email {
    padding:0.75rem 3rem 0.75rem 1.25rem;
    color: var(--very-dark-blue);
    border:2px solid var(--white);
    border-radius:5px;
    font-size:0.9rem;
    position:relative;
}

::placeholder {
    color:hsl(229, 8%, 80%);
  }


  .error-message {
    display:none;
    color:var(--white);
    font-size: 0.7rem;
    padding:0.25rem 0.5rem;
    background: var(--soft-red);
    border-radius:0px 0px 5px 5px;
  }

  #email.input-error {
    border: 2px solid var(--soft-red);
    background-image: url("../images/icon-error.svg");
    background-position: calc(100% - 15px) center;
    background-repeat: no-repeat;

}

.contact-form {
    display: flex;
    flex-direction: column;
    gap:1rem;
    width:100%;
}

#contact-btn {
    padding:0.75rem 1.25rem;
}









/**
#
# Media queries
#
*/
@media (min-width: 640px) {
    .contact-form {
        flex-direction: row;
        justify-content: center;
        align-items: start;
    }
}
@media (min-width: 768px) {

    

    p {
        font-size: 1rem;
    }
}

@media (min-width: 1024px) {
    .more-info-button {
        display:block;
    }

    .browser-container {
        flex-direction: row;
        justify-content: center;
        align-items: start;
    }

    #firefox-card {
        margin-top: 3rem;
    }

    #opera-card {
        margin-top: 6rem;
    }

    .feature-tab {
        grid-template-columns: 1fr 1fr;
    }

    .features-navigation {
        flex-direction: row;
    }

    .feature-tab-content {
        padding:0rem 2rem;
        flex-direction: column;
        align-items: start;
        
    }
    .feature-tab-content p {
        text-align: left;
        margin-bottom:2rem;
    }

    .text-left {
        text-align:left;
    }
    

    


    .faq-question:first-child {
        border-top:1px solid hsl(229, 8%, 80%);
    }



    .intro-content-text h1 {
        text-align: left;
    }
    .intro-section {
        grid-template-columns: 1fr 1fr;
        gap:0;
    }

    .intro-content {
        order:-1;
    }

    .intro-btn {
        padding:0.75rem 1.5rem;
    }

    
}

@media (min-width: 1280px) {
    p, h4 {
        font-size: 1.1rem;
    }

    .browser-card-top p {
        font-size: 1rem;
    }
}

/* Increase font sizes for bigger screens */
@media (min-width: 1536px) {
    /* body {
        font-size: 18px;
    }   */
}